server/nodered/flows.json
[
  {
    "id": "tab_pdr",
    "type": "tab",
    "label": "USTH PDR",
    "disabled": false,
    "info": "Quy dao 2D + activity hien tai + nut reset"
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto local",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "PDR",
    "icon": "directions_walk",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_traj",
    "type": "ui_group",
    "name": "Quy dao",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_act",
    "type": "ui_group",
    "name": "Activity",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_ctrl",
    "type": "ui_group",
    "name": "Control",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "in_pose",
    "type": "mqtt in",
    "z": "tab_pdr",
    "name": "pose",
    "topic": "usth/pdr/+/pose",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker",
    "x": 130,
    "y": 80,
    "wires": [["fn_pose"]]
  },
  {
    "id": "fn_pose",
    "type": "function",
    "z": "tab_pdr",
    "name": "to {x,y}",
    "func": "msg.payload = { x: msg.payload.x, y: msg.payload.y, heading: msg.payload.heading_deg };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 320,
    "y": 80,
    "wires": [["ui_traj"]]
  },
  {
    "id": "ui_traj",
    "type": "ui_template",
    "z": "tab_pdr",
    "group": "ui_group_traj",
    "name": "Trajectory Canvas",
    "order": 1,
    "width": "12",
    "height": "10",
    "format": "<canvas id=\"traj\" width=\"800\" height=\"500\" style=\"background:#fafafa;border:1px solid #ccc\"></canvas>\n<script>\n(function(scope){\n  var pts=[];var canvas=document.getElementById('traj');\n  var ctx=canvas.getContext('2d');\n  var ox=canvas.width/2, oy=canvas.height/2, scale=20;\n  function redraw(){\n    ctx.clearRect(0,0,canvas.width,canvas.height);\n    ctx.strokeStyle='#ddd';ctx.beginPath();\n    for(var i=-20;i<=20;i++){ctx.moveTo(ox+i*scale,0);ctx.lineTo(ox+i*scale,canvas.height);}\n    for(var i=-15;i<=15;i++){ctx.moveTo(0,oy+i*scale);ctx.lineTo(canvas.width,oy+i*scale);}\n    ctx.stroke();\n    ctx.strokeStyle='#1976d2';ctx.lineWidth=2;ctx.beginPath();\n    pts.forEach(function(p,i){var x=ox+p.x*scale,y=oy-p.y*scale;if(i===0)ctx.moveTo(x,y);else ctx.lineTo(x,y);});\n    ctx.stroke();\n    if(pts.length){var last=pts[pts.length-1];ctx.fillStyle='#d32f2f';ctx.beginPath();ctx.arc(ox+last.x*scale,oy-last.y*scale,5,0,2*Math.PI);ctx.fill();}\n  }\n  scope.$watch('msg.payload',function(p){if(!p)return;if(p.reset){pts=[];redraw();return;}pts.push({x:p.x,y:p.y});if(pts.length>3000)pts.shift();redraw();});\n})(scope);\n</script>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 520,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "in_activity",
    "type": "mqtt in",
    "z": "tab_pdr",
    "name": "activity",
    "topic": "usth/pdr/+/activity",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker",
    "x": 130,
    "y": 180,
    "wires": [["ui_act"]]
  },
  {
    "id": "ui_act",
    "type": "ui_text",
    "z": "tab_pdr",
    "group": "ui_group_act",
    "order": 1,
    "width": "6",
    "height": "2",
    "name": "Activity",
    "label": "Hoat dong hien tai",
    "format": "{{msg.payload.class}} ({{msg.payload.confidence | number:2}})",
    "layout": "row-spread",
    "x": 330,
    "y": 180,
    "wires": []
  },
  {
    "id": "btn_reset",
    "type": "ui_button",
    "z": "tab_pdr",
    "name": "Reset trajectory",
    "group": "ui_group_ctrl",
    "order": 1,
    "width": "6",
    "height": "2",
    "label": "Reset quy dao",
    "color": "white",
    "bgcolor": "#d32f2f",
    "payload": "reset",
    "payloadType": "str",
    "topic": "usth/pdr/cmd/reset",
    "x": 140,
    "y": 280,
    "wires": [["mqtt_out_cmd", "ui_traj_reset"]]
  },
  {
    "id": "ui_traj_reset",
    "type": "function",
    "z": "tab_pdr",
    "name": "reset canvas",
    "func": "return { payload: { reset: true } };",
    "outputs": 1,
    "x": 360,
    "y": 280,
    "wires": [["ui_traj"]]
  },
  {
    "id": "mqtt_out_cmd",
    "type": "mqtt out",
    "z": "tab_pdr",
    "name": "cmd reset",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 360,
    "y": 340,
    "wires": []
  }
]
